.DS_Store

#Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled static libraries
*.a
*.lib

# Executables
matrix_rain

# Build directories
/build/
/bin/
/lib/
/logs/
/tmp/
